@model PhotoAlbum.Models.PageData<PhotoAlbum.Business.DTO.PhotoPropertiesDTO>

@{
    int count = Model.Content.Count();
}
<style>
    img {
        max-height: 200px;
        max-width: 429px;
        min-height: 160px;
        min-width: 100px;
        float: none;
    }

    a {
        text-decoration: none;
    }
</style>
<div class="container changeimg">
    @{
        int i = 0, ind = 0;

        int[] nex = new int[count];
        foreach (var p in Model.Content)
        {
            nex[ind++] = p.Id;
        }

        ind = 1;

        foreach (var photo in Model.Content)
        {
            <div class="card" style="background-color:#F87085">
                <div class="card-image" id="img-@photo.Id">
                    @Html.Raw("<img src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(photo.Image) + "\" />")
                    <span class="card-title">
                        Теги:
                        @foreach (var tagName in photo.TagName)
                        {
                            <a href="@Url.Action("ShowPhotoByTag", "Photo", new { tagName = @tagName })" class="badge">@tagName</a>
                        }
                    </span>
                </div>
                <div class="card-content">
                    <div id="propertis" style="padding:14px; display:block;">
                        <div style=" display:block;">
                            <div id="Rating-@photo.Id">
                                Рейтинг: @photo.Rating

                                @if (!photo.IsMy)
                                {
                                    using (Ajax.BeginForm("EditRating", "Photo", new { idPhoto = @photo.Id }, new AjaxOptions { UpdateTargetId = ("Rating-" + @photo.Id), LoadingElementId = "loading" }))
                                    {
                                        @Html.ButtonsRatingSelected(photo.MyRating);
                                    }

                                    @*<div id="loading" style="display:none; text-align:center">
                                            <img src="~/Content/loader_orange.gif" width="20px">
                                        </div>*@
                                }
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="card-action">
                            Теги:
                            @foreach (var tagName in photo.TagName)
                            {
                                <a href="@Url.Action("ShowPhotoByTag", "Photo", new { tagName = @tagName })" class="badge">@tagName</a>
                            }
                    </div>*@
            </div>
            i = photo.Id;
        }
    }

    <div id="allPhotos">
        @foreach (var item in Model.Content)
        {
            <a href="#img-@item.Id">
                @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                    + Convert.ToBase64String(item.Image) + "\" />")
            </a>
        }

        <br />
        <div>
            @if (Model.CountPage > 1)
            {
                @Html.PageLinks(Model.NumberPage, Model.CountPage, x => Url.Action("ShowPhotos", "Photo", new { albumName = TempData["AlbumName"], page = x }))
            }
        </div>
    </div>
</div>

