<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/component.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="logo">
        <h1>photoAlbum</h1>
        <div id="login">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div id="menu">
        <ul>
            @Html.MenuShowSelected((string)@ViewBag.Title, @User.Identity.Name == "Admin")
        </ul>
    </div>
    <div id="site_content">
        @RenderBody()
        <br />
    </div>
    <div class="footer">
        Bunjak Maxim 2016year
    </div>
</body>

</html>