@*User.Identity.IsAuthenticated*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
            if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Users edit", "UsersEdit", "Home")</li>
            }
            <li>
                @Html.ActionLink("Hello, " + User.Identity.Name + "!", "EditUser", "Account")
            </li>
            <li><input class="waves-effect red darken-1 btn" type="submit" value="ВЫйти" /></li>
    }
}
else
{
    
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
}

