@model PhotoAlbum.Models.PageData<PhotoAlbum.Business.DTO.PhotoOfAlbumDTO>

@{
    ViewBag.Title = ViewBag.AlbumName;
}

<style>
    img {
        max-width:160px;
        max-height:140px;
        float: none;
        margin: 0 0 5px 0;
    }
</style>

<h2>
    @ViewBag.AlbumName
</h2>
 <hr />

<div id="propertis" style="padding:14px;">
    <div >
        <fieldset>
            <legend>Upload new photos:</legend>
            <form action="/photo/upload?albumName=@ViewBag.AlbumName" enctype="multipart/form-data" method="post">
               <p> <input class="btn btn-dark" accept="image/*" id="Files" multiple="multiple" name="Files" type="file" /></p>
               <p> <input id="btnUpload" class="btn btn-dark" type="submit" value="Upload" /> </p>
            </form>
            </fieldset>
    </div>
    <br/>
    <div >
        
        <fieldset title="Rename album:">
            <legend>Rename album:</legend>
            @using (Html.BeginForm("RenameAlbum", "Album", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
            {
                <p>Enter new album name:</p>
                <p>@Html.TextBox("newAlbumName", "")</p>
                <p><input type="submit" class="btn btn-dark" value="Rename" /></p>
            }
        </fieldset>
    </div>
</div>

<hr />

<div id="gallery">
    <ul style="text-align:center;">
        @foreach (var item in Model.Content)
        {
            <li style="display:inline-block;">
                    <figure class="fig">
                        @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Image) + "\" />")
                        <figcaption>
                            <a href="@Url.Action("EditPhoto", "Photo", new { albumName = ViewBag.AlbumName, idPhoto = item.Id})">Edit</a> |
                            <a href="@Url.Action("Delete", "Photo", new { albumName = ViewBag.AlbumName, idPhoto = item.Id})">Delete</a>
                        </figcaption>
                    </figure>
            </li>
        }
    </ul>

    <div>
        @if (Model.CountPage > 1)
        {
            @Html.PageLinks(Model.NumberPage, Model.CountPage, x => Url.Action("EditAlbum", "Album", new { albumName = ViewBag.AlbumName, page = x }))
        }
    </div>
</div>