@model PhotoAlbum.Models.PageData<string>

@{
    ViewBag.Title = "Albums";
}

@if (@ViewBag.UserName == User.Identity.Name)
{
    <div style="display: block; padding: 14px;">
        <a href="/Album/EditAlbums" class="knopka">Edit albums</a>
    </div>
}

<div id="gallery">
   
    <div style="text-align:center;">
        <ul>
            @foreach (var albumName in Model.Content)
            {
                <li style="display:inline-block;">
                    <a href="@Url.Action("ShowPhotos", "Photo", new {userName = @ViewBag.UserName,  albumName = @albumName })" style="text-decoration:none;">
                        <figure class="fig">
                            <img src="~/Content/album.png" title="Открыть @albumName" width="132" height="120">
                            <figcaption>
                                @albumName
                            </figcaption>
                        </figure>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div>
        @if (Model.CountPage > 1)
        {
            @Html.PageLinks(Model.NumberPage, Model.CountPage, x => Url.Action("ShowAlbums", "Album", new { page = x }))
        }
    </div>
</div>